/*title*/
h1{text-align: center;color:#cccc00;}

/*The textarea & button*/
#t1{width:50%;height: 30px;margin-left:25%;}
#b1{margin:45px -45px;position: absolute;}

/*comments*/
#list{margin-top:80px;}
ul li{list-style: none;border-bottom: 1px solid #cccc00;
width:80%;height:60px;margin-left:10%;}